.record {
    height: 40px;
    width: 300px;

    padding: 3;
    padding-left: 10;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Source Code Pro", \5FAE\8F6F\96C5\9ED1;
    font-size: 15px;
    transition: 0.3s;

    color: #f0f0f0;
    background: #333333;
    opacity: 30%;

    display: hidden;

}

#layout_menu:hover .record {
    display: flex;
}

.record:hover {
    font-size: 22px;
    opacity: 60%;
    height: 80px;
    width: 400px;
}